﻿<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Config</title>
		<style>
* { margin:auto 2; color:white; font-family: Malgun Gothic,NanumGothic,Arial; }
h1{ color:#00daad; text-shadow:0 0 0.2em white; }
h2{ color:#00b993; }
h3{ color:#009475; }
h4{ color:#007059; }
hr{ color:#00614d; bold:none; }
input[type="text"]{ color:black; font-size:0.9em; border-style:none; margin:1%; padding:1% 1%; }
input[type="submit"], button{ margin:0.5%; padding:0.5% 2.5%; background-color:#00b993; border-style:none; }
input[type="submit"]:hover, button:hover{ background-color:#00daad; }
input[type="submit"]:active, button:active{ background-color:#009475; }
p{ text-align:right; }
		</style>
	</head>
	
	<body bgcolor="#232323">
		<header>
			<h1>안녕하세요, {{id}}님!</h1>
		</header>
		
		<section>
			<h2>빠른 참조</h2> 
			<menu> 
				<a name="TOP">#</a>
					<b>
						<a href="#ADMIN">관리자</a> |
						<a href="#DATABASE">데이터베이스</a> |
						<a href="#ADMIN">서버</a> |
						<a href="#ADMIN">플러그인</a> |
						<a href="#ADMIN">컴포넌트</a>
					</b>
			</menu>
		</section>
		
		<hr/>

		<section>
			<a name="ADMIN"><h3>관리자 정보</h3></a>
			<form>
				이메일 주소: <input type="text" name="email" style="width:70%" value="{{email}}"/>
			</form>
			<p> <button onClick="window.location.href='#TOP'">▲ 위로</button> </p>
		</section>

		<hr/>

		<section>
			<a name="DATABASE"><h3>데이터베이스</h3></a>
				<form method="config.php" action="POST">
					<hidden name="DATABASE_BACKUP" value="true"/>
					<input type="submit" value="백업" /> database 폴더의 모든 데이터를 백업합니다.
				</form>
			<p> <button onClick="window.location.href='#TOP'">▲ 위로</button> </p>
		</section>

		<hr/>

		<section>
			<h3>플러그인 관리</h3>
			현재 설치된 플러그인:
			<ul>
				<li>A</li> <a href="./uninstall">설정</a> | <a href="./uninstall">제거</a>
				<li>B</li> <a href="./uninstall">설정</a> | <a href="./uninstall">제거</a>
				<li>C</li> <a href="./uninstall">설정</a> | <a href="./uninstall">제거</a>
			</ul>
			<p> <button onClick="window.location.href='#TOP'">▲ 위로</button> </p>
		</section>
		
		<hr/>

		<section>
			<h3>컴포넌트 관리</h3>
			현재 설치된 컴포넌트:
			<ul>
				<li>A</li> <a href="./uninstall">설정</a> | <a href="./uninstall">제거</a>
				<li>B</li> <a href="./uninstall">설정</a> | <a href="./uninstall">제거</a>
				<li>C</li> <a href="./uninstall">설정</a> | <a href="./uninstall">제거</a>
			</ul>
			<p> <button onClick="window.location.href='#TOP'">▲ 위로</button> </p>
		</section>
	</body>
	
	<footer>
		<label style="color:gray;font-size:0.9em;text-align:right;">2015 XKY</label>
	</footer>
</html>