html, body, div, span, applet, object, iframe,h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h2{
	margin:5px 5px 5px 5px;padding:0;
}

div{
	border:0.1em solid #bcbcbc;
}

#container{
	width:1028px;
	height:auto;
	margin:0px auto;
	padding:1em;
}
#container:after {content:""; display:block; clear:both;}


#header{
	padding:0.3em;
	margin-bottom:1em;
}

#content{
	width:800px;
	padding:3px 3px 3px 3px;
	margin-bottom:1em;
	float:left;
}

#nav{
	width:200px;
	padding:0.3em;
	margin-bottom:1em;
	float:right;
}

footer{
	height:auto;
	font-size:0.7em;
	text-align:center;
	padding:0.3em;
	clear:both;
}

input[type=text], input[type=submit]{
  height: 3em;
  border: 0.1px solid #bcbcbc;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}