<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Language" content="German" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrap">
	<div id="header">
		<div id="headerlinks">
		<a href="#" title="Blog">블로그</a>
		<a href="#" title="Photolog">포토로그</a>
		<a href="#" title="Profile">'{{블로그 사용자 이름}}'에 대하여</a>
		</div>
		<h1><a href="#">{{블로그 주소}}</a></h1>
	</div>

	<div id="sidebar">
		<h2>최근 글:</h2>
		<div class="box">
		<ul>
		<li><a href="#">Hello World</a></li>
		<li><a href="#">All starts here</a></li>
		<li><a href="#">Whatever</a></li>
		<li><a href="#">Simple Build</a></li>
		<li><a href="#">Testing</a></li>
		</ul>
		</div>

		<h2>배너</h2>
		<div class="box">
		<ul>
		<li><a href="#">Apple</a></li>
		<li><a href="#">Microsoft</a></li>
		</ul>
		</div>
	</div>

	<div id="content">
		<h2>{{글제목}}</h2>
		<p>{{야따}}</p>
	</div>

	<div id="footer">
		<div style="float: right;">
		<a href="#" title="Contact Us"><img src="img/contact.gif" alt="Contact" /></a>
		<a href="#" title="Sitemap"><img src="img/sitemap.gif" alt="Sitemap" /></a>
		<a href="#" title="Rss Feed"><img src="img/rss.png" alt="Rss Feed" /></a>
		</div>
		Theme #4 &copy; 2013 | <!-- You can use it for practically any personal or commercial use so long as you keep our footer credit links intact. -->Theme by <a target="_blank" href="http://codingdev.de" title="CodingDev">CodingDev</a>
	</div>
</div>
</body>
</html>
